.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav1 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #c5d5cb;
  /* background-color: rgb(224, 218, 218); */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn ,.sidenav1 .closebtn1{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.responsive{
  max-width: 100%;
  height: auto;
}
.nav-link{
  color: #111;
  font-size: 20px;
}
.nav-link:hover{
  background-color: rgb(253, 253, 121);
  /* border-radius: 10px; */
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}




.MultiCarousel 
{ float: left;
 overflow: hidden; 
 padding: 15px;
width: 100%;
position:relative; }

.MultiCarousel .MultiCarousel-inner 
{ transition: 1s ease all;  
float: left; }

.MultiCarousel .MultiCarousel-inner .item
{ float: left;}

.MultiCarousel .MultiCarousel-inner .item > div 
{
     /* text-align: center;  */
/* padding:10px; */
margin:10px; 
background-color:white; 
color:#666;}

.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; 
border-radius:2px;
border: 2px solid black;
background-color: transparent;
height: 70px;
top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }
    
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none;
  display: none;
 }

@media screen and (max-width: 570px) {
  .navbar-nav{display:none;
  }
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .mysidenav1{
    width: 200px;
  }
 
} 
  @media screen and (min-width:570px) and (max-width:2100px) {
    .span{display: none;}
    
  } 